
body {
  background-color: powderblue;
}
h1 {
  color: blue;
  border: 2px solid red;
  padding: 30px;
  margin: 50px;
}
.play {
  background-image: url(higher.png);
  background-size: cover;
          width: 300px;
          height: 200px;
          font-size: 2rem;
}

.start {
  background-image: red;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.sub {
  float: left;
  width: 50%;
}

.left {
  background-color:red;
  margin-left: 50%;
  width: 35%;
  height: 50px;
}
.right{
  background-color: red;
  margin-right: 50%;
  width: 35%;
  height: 50px;
}

.score {
  text-align: center;
}
